.footer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    padding: 10px;
    gap:10px;
}

.footer button p {
    font-size: 8px;
    color: #183153;
    font-weight: bold;
}   

button {
    margin: auto 0 auto 0;
}

