.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 5px;
}

.footer img {
    font-size: 7px;
    color: #183153;
    font-weight: bold;
    height: 20px;
    width: 20px;
    margin: auto 0 auto 0;
}   

button {
    margin: auto 0 auto 0;
}
.linkRow, .copyrightRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.copyrightRow {
    font-size: 10px;
    color: gray;
}

.linkRow .icon {
    height:20px;
    width:20px;
    margin:auto 0 auto 0
}

.button-link {
    display: inline-block;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}



@media screen and (max-width: 1200px) {
    .linkRow .icon, .footer img {
        height:18px;
        width:18px;
    }
    
    
}

@media screen and (max-width: 900px) {
    .linkRow .icon, .footer img {
        height:16px;
        width:16px;
    }
    

}


@media screen and (max-width: 600px) {
    .linkRow .icon, .footer img {
        height:14px;
        width:14px;
    }
}