.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
}

.footer button p {
    font-size: 8px;
    color: #183153;
    font-weight: bold;
}   

button {
    margin: auto 0 auto 0;
}
.linkRow, .copyrightRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.copyrightRow {
    font-size: 10px;
    color: gray;
}
