/* Modal.css */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(252, 252, 252, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .modalContents {
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
  }

  .modalContents button {
    margin: 0;
    padding: 0;
  }
  
  .modal a {
    
    font-weight: bold;
    font-size: 30px;
    color: black;

  }

  .modal .icon {
    height: 30px;
    width: 30px;
  }

  .modalContents .closeRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    
  }

  .closeRow button {
    margin: 20px;
  }


  
@media screen and (max-width: 600px) {
  .modalContents {
    gap: 40px;
  }

  .modal a {
    font-size: 25px;
  }
  .modal .icon {
    height: 25x;
    width: 25px;
  }

  .closeRow button {
    margin: 15px;
  }


}

@media screen and (max-width: 450px) {
  .modalContents {
    gap: 30px;
  }
  .modal a {
    font-size: 20px;
  }
  .modal .icon {
    height: 20px;
    width: 20px;
  }

  .closeRow button {
    margin: 12px;
  }


}

