.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
}

.navigations {
    display: flex;
    flex-direction: row;
    gap: 40px;   
}

a {
    text-decoration: none;
    padding: 10px;
    color:#0a1229;
    font-size: 20px;
    background-image: linear-gradient(black, black);
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-size 0.3s;
}

a:hover {
    background-size: 100% 2px;
}


button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.name_logo > img {
    width: 40px;
    height: 40px;  
}


.name_logo {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 15px;
}

.name_logo > p {
    margin: auto 0 auto 0;
    font-size: 15px;
    font-weight: bold;
    color: black;
}