.contacts {
    background-color: #f5f5f7;
    padding: 100px 200px 100px 200px;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .contacts {
        padding: 50px 100px 80px 100px;
    }
}

@media screen and (max-width: 600px) {
    .contacts {
        padding: 50px 50px 80px 50px;
    }
}

.contacts h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
}


.container-2 {
    width: 400px;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.forms form {  
    display : flex;
    flex-direction: column;
    gap: 20px;
}

.forms p {
    font-size: 20px;
    font-weight: bold;

}

.forms button {
    background-color: #374151;
    color: white;
    border-radius: 10px;
    
}

.container-2 h2 {
    font-size: 30px;
    font-weight: bold;
    color:#2997ff;
    margin: 10px 0 10px 0;
}

textarea {
    resize: none;
    padding: 15px;
    background-color: #374151;
    color: white;
    border-radius: 10px;
}

input {
    padding: 15px;
    background-color: #374151;
    color: white;
    border-radius: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #374151;
    margin: 10px 0 10px 0;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.link-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    color: #183153;
    font-weight: bold;
}
.modalLoadingContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loading-spinner{
    width:30px;
    height:30px;
    text-align: center;
    border:2px solid ;
    border-radius:80%;
    border-top-color:rgba(52, 18, 224, 0.067);
    display:inline-block;
    animation:loadingspinner .7s linear infinite;
  }
  @keyframes loadingspinner{
    0%{
      transform:rotate(0deg)
    }
    100%{
      transform:rotate(360deg)
    }
  }

.modalAlert {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalSuccessContents, .modalFailureContents {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 20px;
    padding: 40px 60px 40px 60px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
}
  
 .modalSuccessContents svg, 
.modalFailureContents svg {
	width: 50px; 
	display: block; 
	margin: 0 auto;
}
.modalSuccessContents .path, 
.modalFailureContents .path {
	stroke-dasharray: 1000; 
	stroke-dashoffset: 0;
}
.modalSuccessContents .path.circle, 
.modalFailureContents .path.circle {
	-webkit-animation: dash 0.9s ease-in-out; 
	animation: dash 0.9s ease-in-out;
}
.modalSuccessContents .path.line, 
.modalFailureContents .path.line {
	stroke-dashoffset: 1000; 
	-webkit-animation: dash 0.95s 0.35s ease-in-out forwards; 
	animation: dash 0.95s 0.35s ease-in-out forwards;
}
.modalSuccessContents .path.check, 
.modalFailureContents .path.check {
	stroke-dashoffset: -100; 
	-webkit-animation: dash-check 0.95s 0.35s ease-in-out forwards; 
	animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100%{
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash { 
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes dash { 
	0% {
		stroke-dashoffset: 1000;}
	100% {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash-check { 
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}




@media screen and (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }
    
    .container-2 {
        width: 500px;
        padding: 15px;
    }

    .contacts h1 {
        font-size: 35px;
        margin: 15px;
    }

    .forms form {  
        gap: 15px;
    }
    
    .forms p {
        font-size: 17px;
    }

    .contactInfo p {
        font-size: 14px;
    }

    .link-col p {
        font-size: 11px;
    }
    
    
    .container-2 h2 {
        font-size: 25px;
        margin: 8px 0 8px 0;
    }
    
    textarea {
        padding: 12px;
        font-size: 12.5px;
    }
    
    input {
        padding: 12px;
        font-size: 12.5px;
    }
    
    .line {
        margin: 8px 0 8px 0;
    }
    .forms button {
      font-size: 12.5px;
    }
}

@media screen and (max-width: 900px) {

    .container {
        gap: 25px;
    }
    
    .contacts h1 {
        font-size: 32px;
        margin: 12px;
    }

    .container-2 {
        padding: 10px;
    }

    .forms form {  
        gap: 12px;
    }
    
    .forms p {
        font-size: 14px;
    }
    .contactInfo p {
        font-size: 13px;
    }

    .link-col p {
        font-size: 10px;
    }
    
    
    .container-2 h2 {
        font-size: 22px;
        margin: 6px 0 6px 0;
    }
    
    textarea {
        padding: 10px;
        font-size: 11.5px;
    }
    
    input {
        padding: 10px;
        font-size: 11.5px;
    }

    .line {
        margin: 4px 0 4px 0;
    }
    .forms button {
        font-size: 11.5px;
      }
    
}


@media screen and (max-width: 600px) {
   
    .container {
        gap: 20px;
    }
    .container-2 {
    width: 100%;
    padding: 5px;
    }
    .contacts h1 {
        font-size: 28px;
        margin: 10px;
    }

    .forms form {  
        gap: 10px;
    }
    
    .forms p {
        font-size: 12px;
    }
    
    .contactInfo p {
        font-size: 11px;
    }

    .link-col p {
        font-size: 9px;
    }
    
    .container-2 h2 {
        font-size: 19px;
        margin: 4px 0 4px 0;
    }
    
    textarea {
        padding: 7px;
        font-size: 10px;
    }
    
    input {
        padding: 7px;
        font-size: 10px;
    }
    
    .line {
        margin: 0px 0 0px 0;
    }
    .forms button {
        font-size: 10px;
      }
    
}
