.home {
min-height: 100vh;
display:flex;
flex-direction: column;
background-color: #ffffff;
}

img {
    width: 200px;
    height: 200px;
}

.container-outer {
    display: flex;
    flex-direction: column;
    margin: 300px 0 0 200px;
  
}

.container-inner {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homeText {
    margin: auto 10px auto 20px;
}

.homeText > h1 {
    margin-bottom: 10px;
    font-size: 40px; 
}
.homeText > p {
    font-size: 20px;
}

.homeText >.p1 {
    margin-top: 10px;
}

img {
    width: 200px;
    height: 200px;  
}

.homeText > p a {
    padding: 0px;
    color:#183153;
    font-weight: bold;
    margin-top: 10px;
}



.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) } 
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}

.home a {
    transition: none;
    background-image: none  ;
    font-size: 20px;
}

.home a:hover {
    text-decoration: none;
}