section {
min-height: 100vh;
}

.navbar {
display:flex;
flex-direction: row;
justify-content: end;
gap: 30px;
margin-right: 20px;
position: sticky;
top: 0;
background-color: #ffffff;
}

a {
    text-decoration: none;
    padding: 10px;
    background-color: beige;
}