.home {
min-height: 100vh;
display:flex;
flex-direction: column;
background-color: #ffffff;
}

img {
    width: 200px;
    height: 200px;
}

.container-outer {
    display: flex;
    flex-direction: column;
    margin: 300px 0 0 200px;
  
}

.container-inner {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homeText {
    margin: auto 10px auto 20px;
}

.homeText > h1 {
    margin-bottom: 10px;
    font-size: 40px; 
}
.homeText > p {
    font-size: 20px;
}

.homeText >.p1 {
    margin-top: 10px;
}

img {
    width: 200px;
    height: 200px;  
}

.homeText > p a {
    padding: 0px;
    color:#183153;
    font-weight: bold;
    margin-top: 10px;
}
